* {
    box-sizing: border-box;

}

body {
    margin: 0;
}

.back {
    background-image: url(imagines/Upper.png), url(imagines/Down.png), linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    background-size: 100% auto, 100% auto, 100% 100%;
    background-position: 0 601px, 0 -185px, 0;
    height: 700px;
    background-repeat: no-repeat;
    padding: 153px 0 92px;



}

.content {
    background: #fff;
    max-width: 35%;
    margin: 45px auto;


}















